.All{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 1px solid;
}

<<<<<<< HEAD
=======
.content {
    background-color: bisque;
}

.slideshow {
    background-color: bisque;
}
>>>>>>> parent of 768dd76 (2024-09-06)
