.EditMeee {
    width: 400px;
    margin-left: 260px;
}

.EditMeeeA {
    border: 2px solid rgb(88, 88, 87); /* 항목의 테두리 */
    border-radius: 10px;
}

#button-addon2 {
    background-color: rgb(88, 88, 87);
    color: rgb(255, 255, 255);
}

#button-addon2:hover {
    background-color: rgb(118, 118, 118);
    color: rgb(0, 0, 0);
}