<<<<<<< HEAD
.mainout {
  width: 100%;
  height: 100%;
=======

.gangline {
    border: 1px solid;
    height: 400px;
    width: 100%;
    overflow: hidden; /* 슬라이더 바깥으로 튀어나오는 것을 숨김 */
    margin: 0 auto;
}
.store-item {
    width: 100%;
    box-sizing: border-box; /* 패딩이 너비에 영향을 주지 않도록 설정 */
    margin-top: 40px;
    padding: 0; /* 각 슬라이드 아이템 사이에 불필요한 패딩 제거 */
>>>>>>> parent of 768dd76 (2024-09-06)
}

img {
    width: 200px;
    height: 200px;
}
<<<<<<< HEAD
.container {
=======

.slidebox li {
    list-style: none;
    float: left;
    margin-left: 20px   ;
}
.slidebox p {
    font-size: 14px;
    padding-top: 10px;
    font-weight: bolder;
} 

.gangline button {
    border: none;
    font-size: 20px;
    border: 2px solid;
    font-weight: bold   ;
    cursor: pointer;
    width: 100px;
    height: 70px;
}


.buttons{
>>>>>>> parent of 768dd76 (2024-09-06)
    display: flex;
    width: 100%;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .images img {
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .map-container {
    width: 400px;
    height: 400px;
  }
  