.gangline {
    height: 500px;
    background-color: rgba(241, 241, 241, 0.973);
    width: 100%;
    overflow: hidden; /* 슬라이더 바깥으로 튀어나오는 것을 숨김 */
    margin: 0 auto;
    padding: 20px 0; /* 상하 패딩을 추가하여 요소들이 더 나은 여백을 가짐 */
}

.store-item {
    width: 100%;
    box-sizing: border-box;
    margin-top: 70px;
    padding: 0;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
}

.slidebox {
    width: auto; /* auto로 설정하여 슬라이드 크기에 맞춤 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center;

}

.store-image {
    margin-left: 0;
    border-radius: 20px;
    width: 180px;
    height: 200px;
}

.slidebox li {
    list-style: none;
    margin-left: 20px;
}

.slidebox p {
    font-size: 14px;
    padding-top: 10px;
    font-weight: bolder;
} 

.gangline button {
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 70px;
    background: transparent;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 60px;
    margin-top: 20px;
    justify-content: center; /* 버튼을 가운데로 정렬 */
}
