
.gangline {
    border: 1px solid;
    height: 400px;
    width: 100%;
    overflow: hidden; /* 슬라이더 바깥으로 튀어나오는 것을 숨김 */
    margin: 0 auto;
}
.store-item {
    width: 100%;
    box-sizing: border-box; /* 패딩이 너비에 영향을 주지 않도록 설정 */
    margin-top: 40px;
    padding: 0; /* 각 슬라이드 아이템 사이에 불필요한 패딩 제거 */
}

.slidebox{
    width: 600px;
    float: left;
}   

.store-image {
    margin-left: 0px;
    border-radius: 20px;
    width: 180px;
    height: 200px;
}

.slidebox li {
    list-style: none;
    float: left;
    margin-left: 20px   ;
}
.slidebox p {
    font-size: 14px;
    padding-top: 10px;
    font-weight: bolder;
} 

.gangline button {
    border: none;
    font-size: 20px;
    border: 2px solid;
    font-weight: bold   ;
    cursor: pointer;
    width: 100px;
    height: 70px;
}


.buttons{
    display: flex;
    width: 100%;
    gap: 60px;
    margin-top: 20px;
    margin-left: 620px;
}
