.ManagementHistoryyy {
    width: 400px;
    margin-left: 260px;
}

.ManagementHistoryyy .accordion-item {
    border: 2px solid rgb(88, 88, 87); /* 항목의 테두리 */
    border-radius: 10px; /* 전체 항목의 모서리 둥글게 설정 */
    margin-bottom: 10px; /* 항목 간격 조절 */
    overflow: hidden; /* 모서리가 둥글게 잘리도록 설정 */
  }
  
  .ManagementHistoryyy .accordion-header {
    border: 2px solid rgb(88, 88, 87); /* 헤더에 테두리 추가 */
    border-radius: 10px 10px 0 0; /* 헤더의 모서리 둥글게 설정 */
    background-color: #f8f9fa; /* 배경색을 설정하여 더 명확하게 보기 */
  }
  
  .ManagementHistoryyy .accordion-body {
    border-top: 2px solid rgb(88, 88, 87); /* 본문 위에 테두리 추가 */
    border-radius: 0 0 10px 10px; /* 본문의 아래쪽 모서리 둥글게 설정 */
  }
  
  