.map-section{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color:aqua;
}
/* 지도와 텍스트를 나란히 배치할 섹션 */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: tomato;
}

.details-section {
    width: 100%;
    margin-bottom: 10px; /* 맨 위에 가로로 */
    background-color: green;
}

.content-wrapper {
    display: flex;
    justify-content: space-between; /* 나머지를 병렬 배치 */
    background-color: white;
}

.store_menu, .reviews {
    flex: 1;
    margin-right: 10px;
    background-color: violet;
}

/* 마지막 요소의 margin-right 제거 */
.store_menu:last-child {
    margin-right: 0;
    background-color: steelblue;
}