.navbar{  
    opacity: 75%;
    height: 60px; 
    line-height: 30px;
    border-top: 0.4px solid;
    border-bottom: 0.4px solid;
    
}

.navbar ul {
    list-style: none;
    width: 600;
    height: 100%;
    margin: 0 auto;
}

.navbar li {
    float: left;
    padding: 60px;
    padding-top: 5px;
    font-size: 20px;

}

.navbar li h4 {
    margin: 0;
    text-decoration: none;
    
}
.navbar a {
    color: rgb(46, 45, 45);
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
