.navbar{  
    background-color: rgb(88, 88, 87);
    height: 60px; 
    width: 100%;
    border-radius: 30px;
    line-height: 30px;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    float: left;
    padding-left: 100px;
    padding-top: 5px;
    font-size: 20px;
}

.navbar li h4 {
    margin: 0;
    text-decoration: none;
}
.navbar a {
    color: white;
    list-style: none;
    text-decoration: none;
}