.password-confirm-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 상단에 위치시키기 위해 */
    align-items: center;
    height: 100vh;
    padding-top: 50px; /* 상단에 여유 공간 추가 */
  }
  
  .password-confirm-container h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px; /* 간격을 줄임 */
  }
  
  form {
    display: flex;
    align-items: center; /* input과 버튼을 같은 라인에 맞춤 */
  }
  
  label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 5px; /* 버튼과의 간격을 줄임 */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  